* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.card {
   display: flex;
   /* align-items: center; */
   justify-content: center;
   /* margin-left: 60%; */
   margin-top: 10vh;
   position: relative;
   justify-content: space-evenly;
   border: 2px solid black !important;
   border-radius: 25px !important;
   background-color: rgb(248, 240, 234) !important;
}

.credentials {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
    background-color: rgb(248, 240, 234) !important;
}

.loginLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(248, 240, 234) !important;
}
.email {
    margin-bottom: 2vh;
    width: 40%;
    margin-right: 2vh;
}
.password {
    margin-bottom: 2vh;
    width: 40%;
}

.fgtPswdCont {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(248, 240, 234) !important;

}
.fgtPswd {
    text-decoration: none;
    color: rgb(8, 83, 204);
    font-weight: bold;
    text-align: center;
    margin-top: 2vh;
    background-color: rgb(248, 240, 234) !important;
}

.registerLink{
    background-color: rgb(248, 240, 234) ;
}
.registerBtn {
    align-items: end;
    width: 100%;
    margin-top: 2vh;
    margin-bottom: -2vh;
    background-color: rgb(210, 98, 98);
}



.hover-underline-animation {
    display: inline-block;
    position: relative;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }